{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}

<div class="container pt-5 pb-3">
    <h2 class="mb-4">Search Results</h2>
    <h5 class="text-muted mb-4">Results for "<strong>{{ query }}</strong>":</h5>

    {% if projects %}
        <div class="row">
            {% for project in projects %}
            <div class="col-md-4 mb-4">
                <a href="{% url 'seeproject' project.id %}" class="text-decoration-none">
                    <div class="card shadow-sm h-100">
                        {% if project.project_logo %}
                        <img src="{{ project.project_logo.url }}" class="card-img-top img-fluid" alt="{{ project.project_name }}">
                        {% else %}
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ21J3-WHf675Nz_mvKZ1dFRC50UpsJzpIQlg&s" class="card-img-top" alt="{{ project.project_name }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title text-dark">{{ project.project_name }}</h5>
                            <p class="card-text text-muted">{{ project.project_description|truncatewords:20 }}</p>

                            <p class="mb-1">
                                <strong>Mode:</strong> {{ project.project_mode|capfirst }}
                            </p>
                            {% if user.id != project.user.id %}
                            <p class="text-muted">
                                <strong>Created by:</strong> {{ project.user }}
                            </p>
                            {% endif %}

                            {% if project.get_tags %}
                                <p><strong>Tags:</strong></p>
                                <div class="d-flex flex-wrap align-items-center gap-2">
                                    <ul class="list-inline mb-0 d-flex flex-wrap gap-2">
                                        {% for tag in project.get_tags|slice:":3" %}
                                            <li class="list-inline-item badge bg-primary text-white">{{ tag }}</li>
                                        {% endfor %}
                                        {% if project.get_tags|length > 3 %}
                                            <li class="list-inline-item badge bg-danger text-white">+{{ project.get_tags|length|add:"-3" }} more</li>
                                        {% endif %}
                                    </ul>
                                </div>
                            {% else %}
                                <p><em>No tags available</em></p>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    {% else %}
            <div class="container d-flex justify-content-center align-items-center">
                <div class="col-12 text-center">
                    <img src="https://cdn.iconscout.com/icon/free/png-256/free-donnees-introuvables-1965034-1662569.png" alt="No Files" class="img-fluid">
                    <div class="alert alert-warning" role="alert">
                    <span class="text-muted fs-4">No results found for your search. Please try a different keyword.</span>
                    </div>
                </div>
            </div>
    {% endif %}
</div>
{% include 'simplefooter.html' %}
{% endblock %}
